.productPage {
  display: flex;
  flex-direction: flex-start;
  align-items: center;
  padding: 30px;
  justify-content: flex-start;
  padding-top: 50px;
  min-height: 50vh;
  margin-left: 500px;
}

.image {
  transition: transform 0.3s ease-in-out;
}
.hoverEffect:hover {
  transform: scale(1.03);
}
