.cartPage {
  align-items: center;
  justify-content: center;
  padding: 80px;
  gap: 100px;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: auto;
  margin-top: 10px;
  min-height: 90vh;
}

.productCart {
  display: flexbox;
  flex-direction: row;
  gap: 30px;
}

.link {
  color: black;
}

.emptyCart {
  height: 73vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.image {
  transition: transform 0.3s ease-in-out;
}
.hoverEffect:hover {
  transform: scale(1.1);
}

.products {
  color: black;
  text-align: left;
  font-style: normal;
}
.div {
  text-align: center;
  width: 170px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.h2 {
  color: black;
  text-align: left;
  font-style: normal;
  font-size: 20px;
}
