.cartPage {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  padding-top: 100px;
  min-height: 100vh;
  row-gap: 30px;
}

.productCart {
  display: flexbox;
  flex-direction: row;
  gap: 30px;
}

.link {
  color: black;
}

.emptyCart {
  height: 73vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
