.productPage {
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 50px;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: auto;
  margin-top: 10px;
}

.image {
  transition: transform 0.3s ease-in-out;
}
.hoverEffect:hover {
  transform: scale(1.03);
}
.h4 {
  font-size: 20px;
}

.h5 {
  font-size: 20px;
}
