.footer {
  position: static;
  bottom: 0;
  gap: 50px;
  width: 100%;
  background-color: #812e597e;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  display: flex;
  margin-top: 90px;
}

.navbar {
  display: flex;
  align-items: left;
  justify-content: flex-start;
  width: 100%;
  background-color: #812e597e;
  color: #fff;
  height: auto;
  padding-left: 0px;

  ul {
    list-style: none;
    display: flex;
    padding-left: 250px;

    gap: 40px;
    flex: 1;

    li {
      padding: 10px 0;
      font-weight: 500;
      font-size: 1.5rem;

      a {
        color: #fff;
      }
    }
  }
}

.li {
  align-items: right;
  padding-left: 400px;
  font-size: 30px;
}

.login {
  font-size: 30px;
}
.cart {
  padding-left: 20px;
  font-size: 30px;
}
.home {
  padding-left: 0px;
  font-size: 30px;
  margin-left: 0px;
}
.products {
  font-size: 30px;
  margin-left: 100px;
}
.profile {
  font-size: 30px;
  margin-left: 100px;
}
.username {
  padding-left: 20px;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 500px;
}
