.layout-header {
  background-color: grey;
  color: black;
  font-size: 30px;
  text-align: center;
  padding: 30px;
}

.layout-footer {
  background-color: grey;
  color: black;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}
