.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #4c4d52;
  color: #000000;
  text-align: left;
  align-items: left;
  justify-content: flex-start;
  padding: 0px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: #0909097e;
  color: #fff;
  height: auto;
  padding-left: 30px;

  ul {
    list-style: none;
    display: flex;
    padding-left: 250px;

    gap: 40px;
    flex: 1;

    li {
      padding: 10px 0;
      font-weight: 500;
      font-size: 1.5rem;

      a {
        color: #fff;
      }
    }
  }
}
