.main {
  min-height: 100vh;
  background-color: rgb(244, 234, 234);
}
.productsContainer {
  display: flex;
  align-items: center;
  background-color: rgb(244, 234, 234);
  justify-content: center;
  padding: 40px;
  gap: 100px;
}

.titel {
  justify-content: center;
  display: flex;
  align-items: center;
  color: rgb(188, 191, 17);
  background-color: rgb(244, 234, 234);

  padding-top: 140px;
}
