.main {
  min-height: 100vh;

  color: black;
}
.productsContainer {
  align-items: center;
  justify-content: center;
  padding: 80px;
  gap: 100px;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: auto;
  margin-top: 10px;
}

.titel {
  justify-content: center;
  display: flex;
  font-style: italic;
  font-variant: small-caps;
  color: black;
  padding-top: 30px;
  font-weight: 500px;
}
.bild {
  height: 200px;
  width: 100%;
}

.image {
  transition: transform 0.3s ease-in-out;
}
.hoverEffect:hover {
  transform: scale(1.1);
}

.products {
  color: black;
  text-align: left;
  font-style: normal;
}
.h1 {
  color: black;
  text-align: left;
  font-style: normal;
}
.h2 {
  color: black;
  text-align: left;
  font-style: normal;
}
